:root {
    --color-primary-white: #ffffff;
    --color-primary-black: #191919;
    --color-secondary-gray: #23293c;
    --color-secondary-blue: #303851;
    --color-secondary-light-gray: #cccccc;
  }