.exteme-section {
  &__climbing-half {
    position: relative;
    width: 100%;
    background-image: linear-gradient(
        102.76deg,
        rgba(25, 25, 25, 0.78) 100%,
        rgba(25, 25, 25, 0.6) 100%,
        rgba(25, 25, 25, 0) 100%
      ),
      url(/images/climbing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__walkers-half {
    position: relative;
    width: 100%;
    background-image: linear-gradient(
        102.76deg,
        rgba(25, 25, 25, 0.78) 100%,
        rgba(25, 25, 25, 0.6) 100%,
        rgba(25, 25, 25, 0) 100%
      ),
      url(/images/walking.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__container {
    position: relative;
    display: flex;
    margin: 0 auto;
    height: 100%;
  }
}
